h1{
    color:rgb(255, 0, 0);
margin-left: 700px;
}
body{
    background-image: linear-gradient(45deg, rgb(110, 3, 110), rgb(2, 2, 71));
}
div{
    background-color: black;
    padding: 40px; 
    border-radius: 20px;
    color:aliceblue;
}
 input{
    border: none;
    outline: none;
 }

p{
font-size: 14px;
}
a{
    color: brown;
    font-size: 14px;
}
